body {
    margin-left: 0rem;
    margin-right: 0px;
    margin-top: 0px;
}

.header {
    background-color: #A1CBF7;
    border-radius: 25px;
}

.header2 {
    display: block;
    background-color: #A1CBF7;
    margin-top: -40px;
}

.topbanner {
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
    width: 100%;
    min-height: 350px;
    height: auto;
    background-color: #A1CBF7;
    border-radius: 15px;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
}

.topbannertext {
    display: inline;
    text-align: center;
    width: 80%;
}


.footer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 200px;
    margin-top: 10rem;
    margin-bottom: -40px;
    background-color: #9b9b9b;
    border-radius: 25px;
}

.footer2 {
    display: block;
    height: 40px;
    margin-bottom: -40px;
    background-color: #9b9b9b;
}



/* below import my personal font */

@font-face {
    font-family: MyWebFont;
    src: local('Ubuntu-Medium'), url('/static/font/Ubuntu/Ubuntu-Medium.ttf') format('truetype'); 
}

@font-face {
    font-family: MyWebFontRegular;
    src: local('Ubuntu-Regular'), url('/static/font/Ubuntu/Ubuntu-Regular.ttf') format('truetype'); 
}

@font-face {
    font-family: MyWebFontItalic;
    src: local('Ubuntu-Italic'), url('/static/font/Ubuntu/Ubuntu-Italic.tff') format('truetype'); 
}

@font-face {
    font-family: MyWebFontLight;
    src: local('Ubuntu-Light'), url('/static/font/Ubuntu/Ubuntu-Light.ttf') format('truetype'); 
}

@font-face {
    font-family: MyWebFontLightItalic;
    src: local('Ubuntu-LightItalic'), url('/static/font/Ubuntu/Ubuntu-LightItalic.ttf') format('truetype'); 
}

/*below are all " h text " for the all page */

h1 {
    font-family: MyWebFontRegular;
    display: block;
    color:white; 
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 10px;
}

h2 {
    font-family: MyWebFontRegular;
    display: inline-block;
    color:white; 
    font-size: 23px;
    margin-top: 0px;
    max-width: 450px;
}

h3 {
    font-family: MyWebFontRegular;
    display: inline-block;
    color:#9ED0FB; 
    font-size: 18px;
    margin-top: 0px;
    max-width: 400px;
}

h4 {
    font-family: MyWebFontRegular;
    display: inline-block;
    color:#A3E6DE; 
    font-size: 18px;
    margin-top: 0px;
    max-width: 400px;
    margin-bottom: 30px;
}

h5 {
    font-family: MyWebFontRegular;
    display: inline-block;
    color:#9AE3B4; 
    font-size: 18px;
    margin-top: 0px;
    max-width: 400px;
    margin-bottom: 20px;
}

h6 {
    font-family: MyWebFontRegular;
    display: inline-block;
    color:#C2E69C; 
    font-size: 16px;
    margin-top: 0px;
    max-width: 400px;
    margin-bottom: 20px;
}

h7 {
    font-family: MyWebFontRegular;
    display: inline-block;
    color:#F2D493; 
    font-size: 16px;
    margin-top: 0px;
    max-width: 400px;
    margin-bottom: 20px;
}

h8 {
    font-family: MyWebFontRegular;
    display: inline-block;
    color:#FEC4B0; 
    font-size: 16px;
    margin-top: 0px;
    max-width: 400px;
    margin-bottom: 20px;
}

h9 {
    font-family: MyWebFontRegular;
    display: inline-block;
    color:#95CDFB; 
    font-size: 16px;
    margin-top: 0px;
    max-width: 400px;
    margin-bottom: 20px;
}

h10 {
    font-size: auto;
}

/*h11 is for FAQ answers */
h11 {
    font-size: 14px;
    color: #707070;
    font-family: MyWebFontRegular;
}

/*h111 is for FAQ questions */
h111 {
    font-size: 14px;
    color:#7fb9e9;
    font-family: MyWebFontRegular;
}

/*h12 is "Berlin" */
h12 {
    font-family: MyWebFontRegular;
    display: inline-block;
    color:#707070; 
    font-size: 16px;
    margin-bottom: 2vh;
}

/*h13 is "Producer" */
h13 {
    font-family: MyWebFont;
    display: inline-block;
    color:#707070; 
    font-size: 20px;
    margin-bottom: 30px;
}

/*h131 is "products" */
h131 {
    font-family: MyWebFont;
    display: inline-block;
    color:#707070; 
    font-size: 20px;
}

/*h14 is "Adrien" */
h14 {
    font-family: MyWebFont;
    display: inline-block;
    color:#95CDFB; 
    font-size: auto;
    margin-top: 0px;
    margin-bottom: 5px;
}

h15 {
    font-family: MyWebFontLightItalic;
    display: inline-block;
    color:#707070; 
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
}

h16 {
    font-family: MyWebFont;
    display: inline-block;
    color:#707070; 
    font-size: 18px;
    margin-bottom: 10px;
}

h17 {
    font-family: MyWebFont;
    display: inline-block;
    color:#707070; 
    font-size: 18px;
    margin-bottom: 30px;
}

h18 {
    font-family: MyWebFont;
    display: inline-block;
    color:#A3E6DE; 
    font-size: auto;
    margin-top: 0px;
}

h19 {
    color: white;
    font-family: MyWebFontLight;
    font-size: 16px;
}

/*images css for the first section stuff below */

.logotop{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: -50px;
}

.imagetop{
    height: 12vh;
    width: auto;
    max-height: 100px;
    min-height: 50px;
}

.imageDescription1{
    height: 14vh;
    width: auto;
    display: block;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.imageDescription2{
    height: 12vh;
    display: block;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.imageDescription3{
    height: 15vh;
    display: block;
    transform: rotate(45deg);
}

.imageDescription4{
    width: 15vh;
    min-width: 90px;
    display: block;
}

.imageDescriptionSub{
    width: 70%;
    height: intrinsic;
    min-width: 170px;
    max-width: 200px;
    display: block;
}

/*grid explanation section 1 css stuff below */

.container{
    display: grid;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 2.2fr;
    grid-template-areas:
    "top top top" 
    "content1 content2 content3";
    grid-gap: 2em;
    font-family: MyWebFont;
    margin-top: 2%;
}

#top{
    background-color: white;
    grid-area:top;
    padding: 40px 0;
    text-align: center;
    font-size: 20px;
    color: #707070;
    margin-bottom: -30px;
    margin-top: 20px;
}

#content1{
    background-color:white;
    grid-area:content1;
    text-align: center;

}

#content2{
    background-color: white;
    grid-area:content2;
    text-align: center;

}

#content3{
    background-color: white;
    grid-area:content3;
    text-align: center;

}

.incontainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 750px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1.2fr 1.2fr;
        grid-template-areas:
            "top"
            "content1"
            "content2"
            "content3";
    }
}

/* section 2 for order below */

.section2{
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-family: MyWebFont;
    font-size: 20px;
    color: #707070;
    display: flex;
    justify-content: center;
}

.mainContainer{
    display:flex;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    min-height: 400px;
    margin-top: 10px;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 10px;

    box-shadow:
     0px 10px 20px rgba(179, 179, 179, 0.233),
     0px 10px 20px rgba(121, 121, 121, 0.233);
  
}

/*grid Why Greenit section 3 css stuff below */

.containerWhy{
    display: grid;
    height: auto;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr;
    grid-template-areas:
    "why1 why2 why3 why4"
    "textWhy1 textWhy2 textWhy3 textWhy4";
    grid-gap: 0em;
}

#why1{
    background-color:white;
    grid-area:why1;
    text-align: center;
}

#why2{
    background-color: white;
    grid-area:why2;
    text-align: center;

}

#why3{
    background-color: white;
    grid-area:why3;
    text-align: center;

}

#why4{
    background-color: white;
    grid-area:why4;
    text-align: center;

}

#textWhy1{
    background-color:white;
    grid-area:textWhy1;
    text-align: center;
}

#textWhy2{
    background-color:white;
    grid-area:textWhy2;
    text-align: center;
}

#textWhy3{
    background-color:white;
    grid-area:textWhy3;
    text-align: center;
}

#textWhy4{
    background-color:white;
    grid-area:textWhy4;
    text-align: center;
}

@media only screen and (max-width: 750px) {
    .containerWhy{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr;
        grid-template-areas:
            "why1"
            "textWhy1"
            "why2"
            "textWhy2"
            "why3"
            "textWhy3"
            "why4"
            "textWhy4";
    }
}


/*image css for the section 3 below */

.imageWhy1{
    width: 40%;
    margin-top: 5px;
    min-width: 60px;
    max-width: 130px;
    display: block;
    height: intrinsic;
}

.imageWhy2{
    width: 40%;
    margin-top: 5px;
    min-width: 60px;
    max-width: 110px;
    display: block;
    height: intrinsic;
}

.imageWhy3{
    width: 35%;
    margin-top: 5px;
    min-width: 50px;
    max-width: 130px;
    display: block;
    height: intrinsic;
}

.imageWhy4{
    width: 40%;
    min-width: 80px;
    max-width: 150px;
    display: block;
    height: intrinsic;
}

.WrapEndSection3 {
    display: flex;
    justify-content: center;
}

.endSection3 {
    margin-top: 20px;
    width: 40%;
    min-width: 200px;
    height: auto;
    text-align: center;
    color: #707070;
    font-family: MyWebFontLight;
    font-size: 16px;
}

.button {
    width: 80%;
    background-color: #C2E69C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}


/*all css for the FAQ section 4 below */

.containerFAQ{
    display: grid;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas: 
    "question1 answer1"
    "question2 answer2"
    "question3 answer3"
    "question4 answer4"
    "question5 answer5";
    grid-gap: 2em;
    margin-top: 4%;
}

#question1{
    background-color:white;
    grid-area:question1;
    text-align:right;
    font-family: MyWebFont;

}

#question2{
    background-color:white;
    grid-area:question2;
    text-align: right;
    font-family: MyWebFont;

}

#question3{
    background-color:white;
    grid-area:question3;
    text-align: right;
    font-family: MyWebFont;

}

#question4{
    background-color:white;
    grid-area:question4;
    text-align: right;
    font-family: MyWebFont;

}

#question5{
    background-color:white;
    grid-area:question5;
    text-align: right;
    font-family: MyWebFont;

}

#answer1{
    background-color:white;
    grid-area:answer1;
    text-align: left;
    font-family: MyWebFontLight;

}

#answer2{
    background-color:white;
    grid-area:answer2;
    text-align: left;
    font-family: MyWebFontLight;

}

#answer3{
    background-color:white;
    grid-area:answer3;
    text-align: left;
    font-family: MyWebFontLight;

}

#answer4{
    background-color:white;
    grid-area:answer4;
    text-align: left;
    font-family: MyWebFontLight;

}

#answer5{
    background-color:white;
    grid-area:answer5;
    text-align: left;
    font-family: MyWebFontLight;

}

@media only screen and (max-width: 750px) {
    .containerFAQ{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr;
        grid-template-areas:
            "question1"
            "answer1"
            "question2"
            "answer2"
            "question3"
            "answer3"
            "question4"
            "answer4"
            "question5"
            "answer5";
    }
}

/* Container grid for order page 1 */

.containerOrder{
    display: grid;
    height: auto;
    width: 100%;
    margin-top: 1%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.1fr 1fr 1fr 1fr 0.4fr;
    grid-template-areas: 
        "nav1 nav2 nav2 nav2 nav3"
        "line line line line line"
        "box box box1 box2 box3"
        "box4 box4 box5 box6 box7"
        "box8 box8 box9 box10 box11"
        "btom btom btom btom btom";
    grid-gap: 0.2rem;
}

#line{
    background-color:white;
    align-items: center;
    display: flex;
}

#btom{
    background-color:white;
    grid-area: btom;
    align-content: center;
    display: inline-flex;
}

#nav1{
    background-color:white;
    grid-area: nav1;
    display: flex;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    max-width: 200px;
}

#nav2{
    background-color: white;
    grid-area: nav2;
}

#nav3{
    background-color: white;
    grid-area: nav3;
}

#box{
    background-color: white;
    grid-area: box;
    padding: 3px;
    margin-top: 20px;
}

#box1{
    background-color:white;
    grid-area: box1;
}

#box2{
    background-color:white;
    grid-area: box2;
}

#box3{
    background-color:white;
    grid-area: box3;
}

#box4{
    background-color:white;
    grid-area: box4;
    margin-top: 40px;
}

#box5{
    background-color:white;
    grid-area: box5;
}

#box6{
    background-color:white;
    grid-area: box6;
}

#box7{
    background-color:white;
    grid-area: box7;
}

#box8{
    background-color:white;
    grid-area: box8;
    margin-top: 40px;
}

#box9{
    background-color:white;
    grid-area: box9;
}

#box10{
    background-color:white;
    grid-area: box10;
}

#box11{
    background-color:white;
    grid-area: box11;
}

@media only screen and (max-width: 780px) {
    .containerOrder{
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.7fr 0.5fr 0.2fr 0.6fr 0.1fr 0.1fr 0.1fr 0.6fr 0.1fr 0.1fr 0.1fr 0.6fr 0.1fr 0.1fr 0.1fr 0.4fr;
        grid-template-areas:
            "nav1"
            "nav2"
            "nav3"
            "line"
            "box"
            "box1"
            "box2"
            "box3"
            "box4"
            "box5"
            "box6"
            "box7"
            "box8"
            "box9"
            "box10"
            "box11"
            "btom";
    }
}

.footerMC{
    justify-content: right;
    align-items: center;
    width: 100%;
}

.ProducerDiv{
    width: 100%;
    display: block;
    align-items: center;
}

.ProducerDiv1{
    width: 100%;
    margin-left: 40px;
}

.ProducerDiv2{
    width: 100%;
}

#leftDiv {
    float: left;
    width: auto;
    overflow: hidden;
    margin-left: 15%;
}
  
#rightDiv {
    float: right;
    width: 40%;
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
    overflow: hidden;
}

.EngagementDiv{
    padding: 10px;
    margin-top: 5%;
}

#leftDivProd {
    float: left;
    width: auto;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 25px;
}
  
#rightDivProd {
    width: auto;
    text-align: left;
    overflow: hidden;
    min-width: 150px;
    margin-left: 15px;
}

.TOHdiv {
    width: auto;
    padding: 5px;
    margin-top: 35px;
    text-align: center;
    align-items: center;
    display: block;
}

.TOHdiv2 {
    width: auto;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Bottomdiv {
    width: auto;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
}

/* hover text information for product 1 & 2  **/

.dropbtn {
    margin-top: 4px;
    display: inline;
    width: 12%;
    min-width: 15px;
    height: 12%;
}
  
.dropdown {
    display: inline-block;
    position: absolute;
    height: auto;
}
  
.dropdown-content {
    display: none;
    background-color: #6e6e6e;
    font-family: MyWebFontLight;
    font-size: 13px;
    color: white;
    position: absolute;
    z-index: 1;
    width: 300px;
    height: auto;
    padding: 6%;
    border-radius: 10px;
    margin-left: -285px;
    box-shadow:
     0px 10px 20px rgba(179, 179, 179, 0.233),
     0px 10px 20px rgba(121, 121, 121, 0.233);
}

.dropdown-content a {
    color: black;
    font-family: MyWebFontLight;
    text-decoration: none;
    z-index: 1;
    display:flex;
    position:relative;
    overflow-y: overlay;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color:none;}

/* hover text information for product3 **/

.dropbtnCream {
    margin-top: 4px;
    display: inline;
    width: 12%;
    min-width: 15px;
    height: 12%;
}
  
.dropdownCream {
    display: inline-block;
    position: absolute;
    height: auto;
}
  
.dropdownCream-content {
    display: none;
    background-color: #6e6e6e;
    font-family: MyWebFontLight;
    font-size: 13px;
    color: white;
    z-index: 1;
    position: absolute;
    width: 300px;
    height: auto;
    padding: 6%;
    border-radius: 10px;
    margin-left: -250px;
    box-shadow:
     0px 10px 20px rgba(179, 179, 179, 0.233),
     0px 10px 20px rgba(121, 121, 121, 0.233);
}

.dropdownCream-content a {
    color: black;
    font-family: MyWebFontLight;
    text-decoration: none;
    z-index: 1;
    display:flex;
    position:relative;
    overflow-y: overlay;
}
  
.dropdownCream-content a:hover {background-color: #ddd;}
  
.dropdownCream:hover .dropdownCream-content {display: block;}
  
.dropdownCream:hover .dropbtnCream {background-color:none;}


/* Dropdown button for user choice **/

select{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: MyWebFontRegular;
    color:#707070;
    background-color: white;
    border:2px solid #acacac;
    border-radius: 5px;
    width: 140px;
    height: 35px;
    -moz-appearance:none; /* Firefox */
    appearance:none;
}

/* Container grid for order page 2 */

.containerOrderP2{
    display: grid;
    height: auto;
    width: 100%;
    max-width: 900px;
    margin-left: 1%;
    margin-top: 1%;
    padding: 1%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.8fr 0.8fr 0.8fr 0.4fr;
    grid-template-areas:
        "navi0 navi0"
        "navi1 navi3"
        "boxi boxi3"
        "boxi4 boxi7"
        "boxi8 boxi11"
        "btomi btomi";
    grid-gap: 0rem;
}

#btomi{
    background-color:white;
    grid-area: btomi;
    align-content: center;
    display: inline-flex;
}

#navi0{
    background-color:white;
    grid-area: navi0;
    align-content: center;
    display: inline-flex;
}

#navi1{
    background-color:white;
    grid-area: navi1;
    align-items: center;
    display: inline-flex;
}

#navi2{
    background-color: white;
    grid-area: navi2;
}

#navi3{
    background-color: white;
    grid-area: navi3;
}

#boxi{
    background-color: white;
    grid-area: boxi;
}

#boxi2{
    background-color:white;
    grid-area: boxi2;
}

#boxi3{
    background-color:white;
    grid-area: boxi3;
}

#boxi4{
    background-color:white;
    grid-area: boxi4;
}

#boxi6{
    background-color:white;
    grid-area: boxi6;
}

#boxi7{
    background-color:white;
    grid-area: boxi7;
}

#boxi8{
    background-color:white;
    grid-area: boxi8;
}

#boxi10{
    background-color:white;
    grid-area: boxi10;
}

#boxi11{
    background-color:white;
    grid-area: boxi11;
}

@media only screen and (max-width: 750px) {
    .containerOrderP2{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.6fr 1fr 1fr 1fr 0.2fr 1fr 0.8fr 1fr 0.4fr;
        grid-template-areas:
            "navi0"
            "navi1" 
            "boxi"
            "boxi4"
            "boxi8"
            "navi3"          
            "boxi3" 
            "boxi7"
            "boxi11"
            "btomi";
    }
}

/* Container grid for order page 3 */

.containerOrderP3{
    display: grid;
    height: auto;
    width: 100%;
    max-width: 900px;
    margin-left: 1%;
    margin-top: 1%;
    padding: 1%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.8fr 0.8fr 0.8fr 0.4fr;
    grid-template-areas:
        "navx0 navx0"
        "navx1 navx3"
        "boxx boxx3"
        "boxx4 boxx7"
        "boxx8 boxx11"
        "btomx btomx";
    grid-gap: 0rem;
}

#btomx{
    background-color:white;
    grid-area: btomx;
    align-content: center;
    display: inline-flex;
}

#navx0{
    background-color:white;
    grid-area: navx0;
    align-content: center;
    display: inline-flex;
}

#navx1{
    background-color:white;
    grid-area: navx1;
    align-items: center;
    display: inline-flex;
}

#navx2{
    background-color: white;
    grid-area: navx2;
}

#navx3{
    background-color: white;
    grid-area: navx3;
}

#boxx{
    background-color: white;
    grid-area: boxx;
}

#boxx2{
    background-color:white;
    grid-area: boxx2;
}

#boxx3{
    background-color:white;
    grid-area: boxx3;
}

#boxx4{
    background-color:white;
    grid-area: boxx4;
}

#boxx6{
    background-color:white;
    grid-area: boxx6;
}

#boxx7{
    background-color:white;
    grid-area: boxx7;
}

#boxx8{
    background-color:white;
    grid-area: boxx8;
}

#boxx10{
    background-color:white;
    grid-area: boxx10;
}

#boxx11{
    background-color:white;
    grid-area: boxx11;
}

@media only screen and (max-width: 750px) {
    .containerOrderP3{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.5fr 0.8fr 0.8fr 0.8fr 0.2fr 1fr 0.6fr 0.6fr 0.2fr;
        grid-template-areas:
            "navx0"
            "navx1" 
            "boxx"
            "boxx4"
            "boxx8"
            "navx3"          
            "boxx3" 
            "boxx7"
            "boxx11"
            "btomx";
    }
}

/* End container page */

.InformationDiv{
    padding: 20px;
}

.almsotcenter{
    width: 100%;
    text-align: left;
    margin-top: 4%;
}

.CenterOrderP2{
    display: flex;
    justify-content: center;
    -webkit-box-align: stretch;
    width: 100%;
}

input {
    width: auto;
    text-align: center;
    font-size: 14px;
    font-family: MyWebFontRegular;
    color:#707070;
    background-color: white;
    border:2px solid #acacac;
    border-radius: 5px;
    height: 35px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

#messageform{
    width: auto;
    text-align: center;
    font-size: 14px;
    font-family: MyWebFontRegular;
    color:#707070;
    background-color: white;
    border:2px solid #acacac;
    border-radius: 5px;
    height: 100px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.divmargin{
    margin-left: 4%;
}

.ButtonsSlider{
    display: inline;
    width: 100%;
    align-items: center;
}

.Inlinediv{
    display: inline;
    width: 100%;
    height: 100%;
    padding: 2%;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
}

.Inlinediv2{
    display: inline;
    width: 100%;
    height: 100px;
    padding: 2%;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
}

.button2 {
    width: 180px;
    height: 45px;
    background-color: #95CDFB;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}


.thankYouPage{
    font-family: MyWebFont;
    font-size: 18px;
    color: #777777;
    display: flex;
    justify-content: center;
    text-align: center;
}

.thankYouPage2{
    font-family: MyWebFontRegular;
    font-size: 18px;
    color: #777777;
    display: flex;
    justify-content: center;
    text-align: center;
}

.buttonNext {
    width: 140px;
    height: 40px;
    margin: 4px;
    background-color: #95CDFB;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.SubmitButton {
    width: 140px;
    height: 40px;
    margin: 4px;
    background-color: #C2E69C;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.buttonPrev {
    width: 140px;
    height: 40px;
    margin: 4px;
    background-color: #999999;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

/* Container grid for order page 3 */

.containerOrderP4{
    display: grid;
    height: auto;
    width: auto;
    margin-top: 1%;
    padding: 5%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.8fr 0.2fr 8fr 0.2fr;
    grid-template-areas:
        "in1"
        "in2"
        "in3"
        "in4"
        "btom";
    grid-gap: 0.2rem;
}

#btom{
    background-color:white;
    grid-area: btom;
    width: 100%;
    align-content: center;
    display: inline-flex;
}

#in1{
    background-color:white;
    grid-area: in1;
    width: 100%;
    align-content: center;
    display: inline-flex;
}

#in2{
    background-color:white;
    grid-area: in2;
    width: 100%;
    align-items: center;
    display: inline-flex;
}

#in3{
    background-color:white;
    grid-area: in3;
    width: 100%;
    align-items: center;
    display: inline-flex;
}

#in4{
    background-color:white;
    grid-area: in4;
    width: 100%;
    align-items: center;
    display: inline-flex;
}

@media only screen and (max-width: 750px) {
    .containerOrderP4{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.8fr 0.2fr 8fr 0.2fr;
        grid-template-areas:
        "in1"
        "in2"
        "in3"
        "in4"
        "btom";
    }
}

.responsive-iframe{
    width:80%;
    min-width:280px;
    height:1380px;
    border:0;
}

